
body {
    background-image: url("./img/fondo.jpg");
    color:white;
    width: 100%;
    font-family: 'Numans', sans-serif;
    position: relative;
    height: auto;
  }

.cont-form{
    
    width: 30%;
    padding: 10px;
    height: auto;
    background-color: rgba(0,0,0,0.5) !important;
    position: absolute;
    left: 33%;
    right: 22%;
    margin-top: 5%;
}

.social_icon {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
.titulo{
    padding: 3%;
}
.error{
    color: rgb(255, 56, 56);
}
.enviado{
    color: rgb(25, 165, 0);
}
.link{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("./img/fondo.jpg");
        color:white;
        width: 100%;
        font-family: 'Numans', sans-serif;
        position: relative;
        height: auto;
    }

.cont-form{
    
    width: 100%;
    padding: 10px;
    height: auto;
    background-color: rgba(0,0,0,0.5) !important;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-top: 20%;
}
  }